@model ScoreBoard

<form method="post">
    <br />
    <br />
    <br />
    
    <div class="bg-primary">
        <div class="border p-3 mt-4" >
        
            <div class="row pb-2">
                <h2 style="color:white"><strong>Add New Game Score</strong></h2>
                <hr />
            </div>
            @*<div asp-validation-summary="All"></div>*@
            <div class="mb-3">
                <label asp-for="TeamName1"></label>
                <input asp-for="TeamName1" class="form-control" />
                <span asp-validation-for="TeamName1" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Score1"></label>
                <input asp-for="Score1" class="form-control" />
                <span asp-validation-for="Score1" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TeamName2"></label>
                <input asp-for="TeamName2" class="form-control" />
                <span asp-validation-for="TeamName2" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Score2"></label>
                <input asp-for="Score2" class="form-control" />
                <span asp-validation-for="Score2" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PlayTime"></label>
                <input asp-for="PlayTime" class="form-control" />
                <span asp-validation-for="PlayTime" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-light" style="width:150px">Add</button>
            <a asp-controller="Scoreboard" asp-action="Index" class="btn btn-outline-warning style="width:150px">
                Back to Scoreboard
            </a>
        </div>
    </div>
    
</form>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}