@{
    ViewData["Title"] = "About";
}
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p style="background-color:lightslategrey;color:white">
        &nbsp This is a website developed by Petrica Laurentiu.The inspiration behind it was that me(the creator) and my friends
        have been playing basketball for a long time.We are always super competitive and decided that the best way too keep
        a score would be to store our data somewhere.So I decided to use my passion for programming and create this website.
        Enjoy my little project!
    </p>
</div>
<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />