@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<br />
<br />
<br />
<br />


<div class="col-md-4" style="background-color:black">
    <hr />
    <h1 class="text" style="color:white">&nbsp @ViewData["Title"]</h1>
    <p class="text" style="color:white">&nbsp You must be an admin in order to add/edit &nbsp &nbsp &nbsp game scores.</p>
    <hr />

</div>
<a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary style="width:150px">
    Sign in
</a>

<a asp-controller="Scoreboard" asp-action="Index" class="btn btn-warning style="width:150px">
    Return to ScoreBoard
</a>

<br />
<br />
<br />
<br />

<partial name="_Notifications" />
